* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wave-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.content-bg {
  height: 50vh;
  transform: translateY(-1px);
  background: #2672f8;
}

.macos-buttons {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  gap: 8px;
}

.macos-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.macos-button-red {
  background: #ff5f57;
}

.macos-button-yellow {
  background: #ffbd2e;
}

.macos-button-green {
  background: #28c940;
}
